@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');


*{
    /* reset -- to get the complete control of the adjustments(width and height of the elements) */
    margin: 0; /* no need to mention any units while reseting */
    padding: 0;
    box-sizing: border-box; 
}
.headding1{
   border: 5px solid rgb(77, 25, 119);
    text-align: center;
    padding: 80px;
    /* width: 100%; */
    /* 500px + 5px + 5px + 100px + 100px */
    /* max-width: 500px; */
    /* width: 600px;
    height: 600px; */
    margin: 100px;
    background-color: rgb(128, 0, 0);
    /* border-radius: 50%; */
    color: rgb(200, 120, 150);
    font-size: 40px;
     font-family: "Noto Sans JP", sans-serif;
}

.headding2{
    border: 5px solid black;
    text-align: center;
    padding: 80px;
    /* width: 100%; */
    /* 500px + 5px + 5px + 100px + 100px */
    /* max-width: 500px; */
    /* width: 600px;
    height: 600px; */
    margin: 100px;
    background-color: rgb(128, 0, 60);
    /* border-radius: 50%; */
    color: rgb(200, 167, 120);
    font-size: 40px;
     font-family: "Noto Sans JP", sans-serif;
}