*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.emp-card{
    width: 500px;
    margin: 100px auto;
    box-shadow: 1px 1px 30px gray;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    position: relative;
}

img{
    width: 70%;
    margin-bottom: 30px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2{
    margin-bottom: 20px;
}

p{
    margin-bottom: 15px;
}

button{
    padding: 10px 20px;
    background-color: rgb(128, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}


.obj1{
    width: 200px;
    padding: 20px;
   
    border-radius: 20px;
    text-align: center;

    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    display:flex;
}


.obj2{
    width: 200px;
    padding: 10px;
    
    border-radius: 10px;
    text-align: center;

    position: absolute;
    top: -50px;
    right: -50px;
    bottom: -50%;
}