*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.parrent{
    display:flex;
    flex-direction:row;     
    justify-content:center;     
    align-items:center;        
    height:100vh;
}

.child1, .child2, .child3{
    width:250px;
    padding:15px;
    margin:10px;
    text-align:center;
    box-shadow:0 0 10px gray;
    border-radius:10px;
}

img{
    width:100%;
    border-radius:50%;
    margin-bottom:10px;
}
 f1{
    background-image: url( "https://images2.alphacoders.com/139/thumb-1920-1398476.jpg") ;
    
 }