*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 50px;
    color: rgba(127, 8, 47, 0.9);
}
form{
    width: 700px;
    margin: auto;
    margin-top: 200px;
    background-color: rgb(40, 71, 184);
    padding: 50px;

}
input[type="text"],
input[type="password"],
select,
textarea{
    width: 100%;
    padding: 10px;
    font-size: 18px;
}
.field{
    margin-bottom: 10px;
}
button{
    
    border: none;
    background-color: rgb(213, 146, 168);
    padding: 2px;
}