*{
    margin: 0;
    padding: 0;
}
 
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(201, 197, 197);
    padding: 20px;
}

nav ul{
    width:300px;
    display : flex;
    justify-content : space-around;
    list-style:none;
    flex-wrap: wrap;
}
 
.bar{
    
    border-radius: 50%;
   
}
  
main h2,h3{
    text-align: center;
    border:2px solid red;
}


 section img{ 
    width: 300px;
    margin: 10px;
    padding: 10px;
    box-shadow: 10px 10px 30px gray;
   
   
 } 
main{
    background-color: rgb(197, 228, 21);
    gap: 20px;
    
  }

  section p{
    text-align: left
    ;
  }
   
  section button{
    display: block;
    margin: left;
    padding: 10px 20px;
    background-color: rgb(178, 32, 32);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  section{

    padding: 5px;
    transition: transform 0.6s ease,baground-colour 0.6s ease;
}
section:hover{
    transform: scale(1.2);
    background-color: rgb(10, 14, 14);
}
.car{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    }
@media screen and (max-width: 600px){
    .car{
        display: flex;
        flex-direction: column;

    }
    main{
        background-color: rgb(197, 228, 21);
        gap: 20px;
      }
      button{
        display: none;
      }
}
 
