.head1{
    text-align: center;
    padding: 50px;
   
}

.head2{
    text-align: center;
    padding: 50px;
}

.head3{
    text-align: center;
    padding: 50px;
}

 img {
        width: 100%;
        border-radius: 50%;
        margin-top: 50px;
        float: left;
    }

    